body{
    font-family: ﻿MyriadPro-Regular;
}
@font-face {
    font-family: ﻿MyriadPro-Regular;
    src: url("../fonts/8143.otf");
}
logo h1 {
    margin-left: 100px;
    margin-top: 61px;
    margin-bottom: 0px;
    margin-right: 1087px;
    font-size: 80px;
    color: rgba(0, 0, 0, 255);
    text-align: center;
    width: 297px;
    height: 74px;
}
a {
    text-decoration: none;
}
.blue {
    color: #06bed5;
}
body{
    margin: 0;
    font-family: ﻿MyriadPro-Regular;
}
@font-face {
    font-family: ﻿MyriadPro-Regular;
    src: url("../fonts/8143.otf");
}
nav {
    display: block;
    width: 1280px;
    margin-left: 100px;
    margin-right: 100px;
}
.men ul {
    margin-top: 45px;
    margin-bottom: 0px;
    padding-top: 26px;
    padding-bottom: 19px;
    padding-left: 203px;
    background: #35444f;
    height: 33px;
}
.men a {
    color: white;
    text-decoration: none;
    font-size: 20pt;
}
.men li {
    display: inline
}
ndmenu ul {
    list-style: none;
    border: 1px solid black;
    margin-left: 100px;
    padding-left: 0px;
    margin-top: 51px;
    margin-bottom: 0px;
    width: 344px;
    height: 541px;
    margin-right: 0px;
}
.one{
    font-size: 29.99244pt;
    color: rgba(72, 88, 99, 255);
    text-align: left; margin-top: 30px; padding-left: 44px;margin-bottom: 29px
}
.two{
    font-size: 29pt;
    color: rgba(53, 68, 79, 255);
    text-align: left; background-color: #dbdbdb; padding-left: 69px;padding-top: 28px;
    padding-bottom: 28px;
}
.tree{
    font-size: 29pt;
    color: rgba(73, 88, 99, 255);
    text-align: left; margin-top: 27px;padding-left: 44px;
}
.four{
    font-size: 29pt;
    color: rgba(73, 88, 99, 255);
    text-align: left; margin-top: 61px;padding-left: 44px;
}
.five{
    font-size: 29pt;
    color: rgba(73, 88, 99, 255);
    text-align: left; margin-top: 61px;padding-left: 44px;
}
.column-left{
    width: 444px;
    float: left ;
}
.column-right{
    width: 885px;
    float: right;
    margin-left: 0px;
    margin-right: 100px;
}
pic{
    width: 885px;
    height: 600px;
    border: 1px solid black;
    float: right;
    margin-top: 51px;
    margin-left: 52px;
}
.img {
    margin-top: 75px;
    margin-left: 297px;
}
.text p{
    margin-left: 526px;
    margin-top: 50px;
    margin-right: 139px;
    float: right;
    font-size: 13pt;
    color: rgba(44, 44, 44, 255);
    text-align: left;
    margin-bottom: 0px;
    height: 114px;
}
.footer{
    float: right;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
    margin-top: 21px;
    font-size: 23pt;
    color: rgba(12, 25, 39, 255);
    width: 1280px;
    background-color: #b4b7ba;
    height: 69px;
}
pre{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 44px;
    width: 1064px;
}
.ct{

}